<div class="card">
	<article class="card-body">
		<header>
			<h2 class="card-title">
				<span>{{city.name}}</span>
				<img
					*ngIf="weather?.weather[0].icon"
					src="https://openweathermap.org/img/wn/{{weather?.weather[0].icon}}@2x.png"
					alt=" - weather: {{weather?.weather[0].main || '...'}}"
					title="{{weather?.weather[0].main || '...'}}"
				>
				<span class="weather-main">{{(weather?.main.temp | number:'1.0-1') || '...' }}&deg;</span>
			</h2>
		</header>

		<section *ngIf="city.image">
			<figure style="background-image: url(/assets/{{city.image.name}})">
				<img src="/assets/{{city.image.name}}" alt="{{city.image.caption}}">
			</figure>
		</section>
	
		<section>
			<ul class="separated">
				<li>
					Flights range from <span>{{(flights?.min | number:'1.0-0') || '...'}}<small>€</small></span> 
					to <span>{{(flights?.max  | number:'1.0-0') || '...'}}<small>€</small></span>.
				</li>
				<li>
					On average, it is  <strong><span>{{flights?.min && (flights?.unit*100  | number:'1.2-2') || '...'}}<small>€</small></span> per 100km</strong>.
				</li>
			</ul>
		</section>
		
		<section>
			<ul class="separated secondary">
				<li>Temperatures today are between 
					<span>{{(weather?.main.temp_min | number:'1.0-1') || '...' }}&deg;</span> 
					and <span>{{(weather?.main.temp_max | number:'1.0-1') || '...' }}&deg;</span>.
				</li>
				<li>
					On average, it <strong>feels like <span>{{(weather?.main.feels_like | number:'1.0-1') || '...' }}&deg;</span></strong> outside.
				</li>
			</ul>

			<ul class="tertiary">
				<li *ngIf="weather?.clouds.all > 80">
					It's <strong>very cloudy</strong>. <span>{{weather?.clouds.all || '...' }}%</span> of the sky is covered.
				</li>
				<li *ngIf="weather?.clouds.all <= 80 && weather?.clouds.all > 30">
					The sky is <strong>somewhat</strong> covered with clouds, in <span>{{weather?.clouds.all || '...' }}%</span>.
				</li>
				<li *ngIf="weather?.clouds.all > 0 && weather?.clouds.all <= 30">
					There are <strong>hardly any clouds</strong> about - just <span>{{weather?.clouds.all || '...' }}%</span>.
				</li>
				<li *ngIf="weather?.clouds.all == 0">
					There is <strong>not a single cloud</strong> to be seen.
				</li>
	
				<li *ngIf="weather?.main.humidity > 90">
					It is <strong>steamy!</strong> Humidity <span>{{weather?.main.humidity || '...' }}%</span>!
				</li>
				<li *ngIf="weather?.main.humidity <= 90 && weather?.main.humidity > 40">
					It is <strong>pretty humid</strong> - <span>{{weather?.main.humidity || '...' }}%</span>.
				</li>
				<li *ngIf="weather?.main.humidity <= 40">
					It's <strong>very dry!</strong> The humidity is just  <span>{{weather?.main.humidity || '...' }}%</span>.
				</li>
	
				<li *ngIf="weather?.wind.speed > 20">
					It is <strong>howling!</strong> Wind speeds will reach <span>{{(weather?.wind.speed | number:'1.0-1') || '...' }} m/s</span>!
				</li>
				<li *ngIf="weather?.wind.speed <= 20 && weather?.wind.speed > 5">
					It is <strong>quite windy</strong>, around <span>{{(weather?.wind.speed | number:'1.0-1') || '...' }} m/s</span>.
				</li>
				<li *ngIf="weather?.wind.speed <= 5">
					The wind is <strong>calm</strong>, just <span>{{(weather?.wind.speed | number:'1.0-1') || '...' }} m/s</span>.
				</li>
				
			</ul>
		</section>
	</article>
</div>