li span, p span {
	font-weight: bold;
	color: #0abf53;
}

li, ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	display: inline-block;
	width: 3rem;
	height: 3rem;
	vertical-align: top;
	margin-top: -.2rem;
}