li span, p span {
	font-weight: bold;
	color: #0abf53;
}

li, ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul {
	margin: 1rem 0;
}

ul.separated:after {
	content: '';
	width: 80%;
	height: 0;
	display: block;
	margin: 1rem auto 0;
	border-bottom: .05rem solid #eee;
}

li {
	margin-bottom: .4rem;
}

.card {
	margin-bottom: 2rem;
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,.7) 100%);
	box-shadow: 0 .5rem .5rem rgba(128,128,128,.1);
	font-size: 1.1rem;
}

strong {
	font-weight: 400;
	background-color: #fff8e0;
	padding: 0 .2rem;
}

figure {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 12rem;
	position: relative;
	margin: 1.5rem 0;
}

figure img {
	visibility: hidden;
	width: 0;
	height: 0;
}

figure figcaption {
	background: #fff;
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: .9rem;
	font-weight: bold;
	padding: 0 .3rem;
	opacity: .5;
	transition: .5s opacity;
}

figure:hover figcaption {
	opacity: 1;
	transition: .2s opacity;
}

.secondary {
	font-size: 1rem;
}

.tertiary {
	font-size: .9rem;
	color: #666;
}

h2 img {
	width: 3.5rem;
	height: 3.5rem;
	vertical-align: top;
	margin-top: -.5rem;
	filter: brightness(.95);
	float: right;
}

.weather-main {
	color: #0abf53;
	font-size: 1.2rem;
	float: right;
	line-height: 2.4rem;
}

@media (max-width: 400px) {
	.weather-main  {
		display: none;
	}
}